*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,  whitesmoke);
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.niv{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 99%;
    justify-content: space-between;
    background-color: burlywood;
    z-index: 1000;
    margin-top: 0;
    overflow-y: hidden;
}

.Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.L-G{
    font-size: 19px;
    color: black;
}
.ogo{
    max-width: 70px;
}
.nav-body{
    display: flex;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin:auto;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    flex-wrap: wrap-reverse;
}

.nav-body, .link{
    display: flex;
    gap: 2rem;
}
.TOUCH{
    text-decoration: none;
    color: whitesmoke;
    display: flex;
}
.TOUCH:hover{
    transition: 0.2s;
    text-decoration: underline;
    color: black;
}




.HEADING {
    overflow: hidden;
    width:100%;
    height: 250px;
    overflow: hidden;
    background: url(Image/Niv-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    border-radius: 50px;
    margin-bottom: 40px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
font-size: 50px;
color: whitesmoke;
}
h5{
    font-size: 20px;
    text-align: center;
    color: white;
}


@keyframes ALL-body{
    0%{
        transform: translateX(-1120px);
    }
    100%{
        transform: translateX(0);
    }
}
.ALL-body{
    animation: ALL-body 2s ease-in;
}
main{
    max-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.All-grid{
    padding-left: 10px ;
    padding-right: 10px;
    border-radius: 10px;
  max-width: 850px;
  padding-bottom: 20px;
  background-color: whitesmoke;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  gap: 8px;
  margin: 10px auto;
  justify-content: center;
}
.Our-offer{
    padding: 10px;
    background-color: whitesmoke;
    position: relative;
    margin: auto;
}

h3{
    position: relative;
    left:50% ;
    transform: translateX(-50px);
    margin:auto;
}
.A-offer{
    max-width: 200px;
    max-height: 310px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.4);
}
img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
h4{
    margin-left: 5px;
    margin-bottom: 5px;
}
.info{
    font-size: 12px;
    width: 100%;
    margin-left: 5px;
    margin-bottom: 5px;
}
.Order-price{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Price{
    font-weight: 600;
}
button{
    margin-left: 40px;
    padding: 5px 14px;
    margin-top: 2px;
    border: none;
    background-color: burlywood;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;

    transition: all 0.2s ;
}
button:hover{
    transform: translateX(-10px);
    background-color: black;
    color: white;
}

.Email-body{
    max-width: 100%;
    height: 200px;
    background: url(Image/Email.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.3);
}
.E-Mail{
    max-width: 30%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border-radius: 50px;
    border: none;
    padding-inline: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 8px;
}
.Submit-button{
    margin-left: 1px;
    padding: 6px 20px;
}
/*
@media (max-width:375px){
    .All-grid{
      max-width: 100%;
      padding-bottom: 20px;
      background-color: whitesmoke;  
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
      padding-top: 15px;
      grid-row-gap: 18px;
      grid-column-gap: 10px;
      
    }
    
    button{
        margin-left: 70px;
        padding: 5px 10px;
        margin-top: 0;
        font-size: 10px;
        transition: all 0.2s ;
    }
    .Order-price{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .E-Mail{
        max-width: 90%;
    }  
}

@media (max-width:768px){
    .All-grid{
      max-width: 100%;
      padding-bottom: 20px;
      background-color: whitesmoke;  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
      padding-top: 15px;
      grid-row-gap: 18px;
      grid-column-gap: 10px;
      margin: auto;
      
    }
    
    button{
        margin-left: 30px;
        padding: 5px 10px;
        margin-top: 0;
        font-size: 10px;
        transition: all 0.2s ;
    }
    .Order-price{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .E-Mail{
        max-width: 90%;
    }  
}

*/
.Information{
    max-width: 100%;
    min-height: 250px;
    background-color:burlywood ;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 50px 40px;
}
