*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Image/B-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.All{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.Input-body{
    width: 450px;
    padding: 7.5em 2.5em 4em 2.5em;
    backdrop-filter: blur(30px);
    border: 2px solid whitesmoke;
    border-top-color: black;
    border-left-color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
    position: relative;
    color: whitesmoke;
}
.Span-body{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    border-radius: 0 20px;
}
span{
    font-size: 25px;
}
.input-filed{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
#User{
    margin-bottom: 10px;
}
.INPUT{
    width: 100%;
    height: 55px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline: none;
    padding-inline: 15px 20px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
}
.INPUT:focus ~.Label,
.INPUT:valid ~.Label{
    top: -10px;
    left: -10px;
    color: black;
}
.remember-forget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

a{
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
a:hover{
    text-decoration: underline;
    transition: 0.2s;
    color: whitesmoke;
}
.button{
    width: 100%;
    margin-bottom: 15px;
}
button{
    display: flex;
    margin: auto;
    padding: 10px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    border: solid 3px black;
    background-color: black;
    color: whitesmoke;
}
button:hover{
    background-color: transparent;
}
h4{
    text-align: center;
    margin-top: 10px;
}
@media screenonly {
    
}